target
nbactions.xml
nb-configuration.xml
/nbproject/
project.properties
*.iml
.idea/
.project
.settings/
.classpath
.vscode
.factorypath
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/AgilityCoursePoint.java
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/AgilityShortcutPoint.java
/cache/cache.eml
/cache-client/cache-client.eml
/cache-updater/cache-updater.eml
/runelite-client/src/main/java/net/runelite/client/plugins/chess/ChessEmotes.java
/runelite-client/client.eml
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/DungeonPoint.java
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FairyRingPoint.java
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FarmingPatchPoint.java
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FishingSpotPoint.java
/http-api/http-api.eml
/http-service/http-service.eml
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/HunterAreaPoint.java
/runelite-client/src/main/resources/net/runelite/client/plugins/chess/kappa.png
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/KourendTaskPoint.java
/runelite-client/src/test/java/net/runelite/client/menus/MenuManagerTest.java
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/MinigamePoint.java
/runelite-client/src/main/resources/net/runelite/client/plugins/chess/minik.png
/runelite-client/src/main/resources/net/runelite/client/plugins/chess/miniminik.png
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/MiningSitePoint.java
/runelite-api/src/main/java/net/runelite/api/events/NpcActionChanged.java
/runelite-api/src/main/java/net/runelite/api/events/PlayerMenuOptionClicked.java
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/QuestStartPoint.java
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/RareTreePoint.java
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/RunecraftingAltarPoint.java
/runelite-api/runelite-api.eml
/runelite-client/src/main/resources/net/runelite/client/plugins/chess/sadkek.png
/runelite-script-assembler-plugin/script-assembler-plugin.eml
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportPoint.java
/runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPoint.java
/runelite-api/src/main/java/net/runelite/api/events/WidgetHiddenChanged.java
